body,
html {
  @apply scroll-smooth antialiased;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

.rotate-y {
  transform: rotateY(180deg);
}
